@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}
::-webkit-scrollbar-track-piece {
    background-color: #666666;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #bbbbbb;
    border-radius: 3px;
}

:root {
    scroll-behavior: smooth;
}
